:root {
  --main-navbar-footer-color: #000000;
  --orange-color: #fd933c;
  --blue-color: #007bff;
  --light-pink: #faf0f0;
  --dark-pink: #ff4081;
  --green: #8bc43e;
  --yellow: #ffa500;
  --light-gray: #808080;
  --overlay: #00000019;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", "Lato";
  font-size: 16px;
}

/* Reusable componets  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato";
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* //////////////////////////////////// */
/* single Event in card display */
/* //////////////////////////////////// */
#single-event-section {
  min-height: 60vh;
}
#single-event-section img {
  margin-top: 70px;
  height: 400px;
  width: 100%;
}

/* //////////////////////////////////// */
/* Events in card list display */
/* //////////////////////////////////// */
#event-display {
  padding-top: 50px;
  min-height: 80vh;
}

.upload-btn {
  margin-top: 5px;
  padding: 6px 8px;
  background: #020100;
  color: #faf0f0;
  transition: 0.8s ease-in-out;
}
.upload-btn:hover {
  background: #faf0f0;
  color: #000000;
  border: 1px solid #000000;
}
.add-event-btn {
  padding: 10px 23px;
  background: var(--orange-color);
  font-size: 17px;
  font-weight: 500;
  transition: 0.8s ease-in-out;
}
.add-event-btn:hover {
  background: var(--green);
  color: #faf0f0;
}

/* ////////////////////////////// */
/* small screen media  */
/* ////////////////////////////// */
@media (min-width: 200px) and (max-width: 1023px) {
  .event-section-content h4 {
    margin-top: 13px;
    margin-left: 45px;
    margin-bottom: 12px;
  }
  .image-section {
    margin-bottom: 20px;
  }
  .image-section #uploadIcon {
  }
  .name-group {
    margin-left: -12px;
  }
  .image-section img {
    height: 110px;
    width: 100px;
    border: 1px solid var(--orange-color);
    padding: 12px;
  }
  .add-event-btn {
    margin-right: 20px;
  }
  .form-group .form-control {
    border: none;
    background: none;
  }
  .form-group .form-control {
    border-bottom: 1px solid #ccc;
  }

  /* single card style  */
  #single-event-section img {
    margin-top: 50px;
    height: 260px;
    width: 100%;
    box-shadow: 2px 2px 2px 1px #b9b3b3;
  }
  .Event-head-section li {
    display: block;
    /* padding-left: 34px; */
  }
  /* //////////////////////////// */
  /* single card style  */
  #single-event-section {
    margin-top: 70px;
    box-shadow: 2px 2px 5px 2px rgb(228, 225, 225);
    padding: 34px;
  }

  #single-event-section .single-event-body img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    height: 200px;
    width: 900px;
    box-shadow: 2px 2px 8px 1px var(--orange-color);
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 5px;
    transition: 0.9s ease-in-out;
  }
  #single-event-section .single-event-body img:hover {
    box-shadow: 2px 2px 8px 1px var(--green);
  }
  .Event-head-section li {
    padding-top: -32px;
    display: block;
    font-size: 25px;
    color: var(--orange-color);
    font-size: 16px;

    /* padding-left: 34px; */
    /* padding: 0 23px; */
  }
  .Event-head-section li p {
    color: var(--light-gray);
    font-size: 17px;
    text-align: left;
  }

  /* eventlist-header-section */
  .eventlist-header-section {
    margin-top: -22px;
    height: 200px;
    background-color: #000000;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 32%;
    border-bottom: 13px solid #ccc;
    margin-bottom: 40px;
  }
  .eventlist-header-section h1 {
    text-align: center;
    color: #faf0f0;
    font-size: 30px;
    padding-top: 84px;
  }
  /* //////////////////////// */
  /* card list  */
  .card-section {
    margin-top: -45px;
  }
  .card-section .eventCard {
    margin-top: 34px;
    border: none;
    padding: 0 3px;
    box-shadow: 2px 5px 10px rgb(189, 183, 183);
  }
}

/* ////////////////////////////// */
/* large screen media  */
/* ////////////////////////////// */

@media (min-width: 1025px) {
  .addevent-section {
    margin-top: 12px;
  }
  .event-section-content h4 {
    margin-left: 30px;
    margin-bottom: 12px;
  }
  .event-section-body {
    padding-top: 23px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px 5px #e7e7e7;
  }
  .name-group {
    margin-left: -16px;
  }
  .image-section img {
    height: 110px;
    width: 130px;
    border: 1px solid var(--orange-color);
    padding: 13px;
  }
  .image-section #uploadIcon {
    /* margin-top: 23px; */
  }
  .add-event-btn {
    margin-right: 23px;
  }

  /* // form design   */
  .form-group .form-control {
    border: none;
    background: none;
  }
  .form-group .form-control {
    border-bottom: 1px solid #ccc;
  }

  /* //////////////////////////// */
  /* single card style  */
  #single-event-section {
    margin-top: 113px;
    box-shadow: 2px 2px 5px 2px rgb(228, 225, 225);
    padding: 34px;
  }

  #single-event-section .single-event-body img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    height: 400px;
    width: 900px;
    box-shadow: 2px 2px 8px 1px var(--orange-color);
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 5px;
    transition: 0.9s ease-in-out;
  }
  #single-event-section .single-event-body img:hover {
    box-shadow: 2px 2px 8px 1px var(--green);
  }
  .Event-head-section li {
    padding-top: -32px;
    display: block;
    font-size: 15px;
    color: var(--orange-color);

    /* padding-left: 34px; */
    /* padding: 0 23px; */
  }
  .Event-head-section li p {
    color: var(--light-gray);
  }

  /* /////////////////////////// */
  /* eventCard list */
  .card-section {
    margin-top: -35px;
  }
  .card-section .eventCard {
    margin-top: 23px;
    border: none;
    padding: 0 0;
    /* box-shadow: 12px 2px 2px 2px rgb(228, 222, 222); */
    box-shadow: 2px 5px 10px rgb(189, 183, 183);
    transition: 0.9s ease-in-out;
  }
  .card-section .eventCard:hover {
    box-shadow: 2px 5px 35px var(--orange-color);
  }
  /* //////////////////////////////// */
  /* eventlist-header-section */
  .eventlist-header-section {
    height: 230px;
    background-color: #000000;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
    border-bottom: 13px solid #ccc;
    margin-bottom: 40px;
  }
  .eventlist-header-section h1 {
    text-align: center;
    color: #faf0f0;
    padding-top: 84px;
  }
}
